@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 1440px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 226px;
    background-color: #66D1FF;
    margin-bottom: 0px;
}

.knopka {
    font-family: "Montserrat";
    width: 276px;
    height: 45px;
    border-radius: 4px;
    color: black;
    background-color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 296px;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.phone {
    font-family: "Montserrat";
    width: 256px;
    height: 34px;
    font-size: 28px;
    color: black;
    display: flex;
    justify-content: end;
}

.title {
    width: 1440px;
    height: 766px;
    background-color: rgba(0, 0, 0, 0.171);
    background-image: url("pics/fon.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

.title_1 {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 2px black;

}

.title_2 {
    width: 1060px;
    height: 117px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.discription {
    width: 1440px;
    height: 998px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    background-color: rgba(102, 209, 255, 0.1);
    padding-bottom: 170px;
    box-sizing: border-box;
}

.dis_title {
    width: 978px;
    height: 80px;
    font-family: "Oswald";
    font-size: 48px;
    padding-bottom: 100px;
}

.bonus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

.dis_block {
    display: flex;
    flex-direction: column;
    width: 406px;
    height: 186px;
    margin-bottom: 70px;
}

.dis_block_title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    padding-bottom: 25px;
}

.dis_block_text {
    font-family: "Montserrat";
    font-size: 26px;
}

.go {
    width: 1440px;
    height: 1003px;
    background: linear-gradient(208.35deg, rgba(239, 250, 255, 1), 43.85%, white 43.86%);
    mix-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    box-sizing: border-box;
}

.go_title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 60px;
}

.go_but {
    width: 505px;
    height: 86px;
    border: solid 3px black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 130px;
}

.go_but_text {
    text-decoration: none;
    color: black;
}

.go_pics {
    width: 1278px;
    display: flex;
    justify-content: space-between;
}


img {
    width: 297px;
    height: 297px;
}

